<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
          aria-controls="collapseExample">
    <h3 class="text-center my-2">REGULAR Y PREVIOS: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample">
    <div class=" row m-5">
      <h3 class="text-center my-2">Condiciones de Examen:</h3>
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>1) Anotar la fecha del examen que se encuentra en cartelera.</strong></p>
        <p class="color-alerta"><strong>2) Presentarse en la fecha indicada a horario, con DNI, delantal de taller,
          pantalones largos y calzado adecuado (zapatos ó zapatillas).
        </strong></p>
        <p class="color-alerta"><strong>3) Leer detalladamente la orientación:</strong></p>
        <div class="flex-column text-center">
          <a href="assets/mesa-examen/ORIENTACION.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center color-alerta">Orientación 1ro , 2do, 3ro</p>
        </div>
        <p class="color-alerta"><strong>4) Deberá presentar a la mesa examinadora lo siguiente para cada materia:</strong></p>

      </div>


      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>LENGUAJE TECNOLOGICO:</strong></p>
        <p class="color-alerta"><strong>Carpeta de láminas COMPLETA, Cuaderno de caligrafía COMPLETO, y a partir de alli
          se tomará un examen práctico de lenguaje tecnológico.</strong></p>
        <p class="color-alerta"><strong>Traer materiales de dibujo (hoja A4, regla, compás, goma, escuadras, lápiz HB y
          2H, transportador, etc)</strong></p>
        <p class="color-alerta">Para 1er año : Polígonos (utilizando el método del ángulo central).</p>
        <p class="color-alerta">Para 2do año: Algún objeto en Perspectiva isométrica.</p>
        <p class="color-alerta">Para 3er año: Perspectiva y vistas fundamentales (Frontal, Lateral izquierda y
          superior).</p>
      </div>


      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>PROCEDIMIENTOS TECNICOS:</strong></p>
        <p class="color-alerta"><strong>Todos los trabajos realizados durante el año terminados. Luego se tomará un
          examen práctico de:</strong></p>
        <p class="color-alerta">Para 1er año : Carpínteria y herramientas manuales</p>
        <p class="color-alerta">Para 2do año: Ajuste y soldadura eléctrica.</p>
        <p class="color-alerta">Para 3er año: Ajuste, soldadura eléctrica y tornería.</p>
      </div>

      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>SISTEMAS TECNOLOGICOS:</strong></p>
        <p class="color-alerta"><strong>Todos los trabajos realizados durante el año terminados. Luego se tomará un
          examen práctico de:</strong></p>
        <p class="color-alerta">Para 1er año : Carpínteria, herramientas manuales y electricidad del velador</p>
        <p class="color-alerta">Para 2do año: Circuitos eléctricos (con esquema de cableado y montaje), empalmes.</p>
        <p class="color-alerta">Para 3er año: Circuitos eléctricos (con esquema de cableado y montaje), robótica.</p>
      </div>

      <div class="alert fondo-alerta-w" role="alert">
        <p class="color-alerta-w"><strong>En todos los exámenes prácticos se evaluará: pedidos al pañol, seguridad e
          higiene en el trabajo, procedimientos utilizados y trabajo obtenido.</strong></p>
        <p class="color-alerta-w">Recordar que: Todo estudiante que rinde examen regular ó previo, debe presentar lo
          mismo que ha realizado cualquier otro estudiante regular durante el año.</p>
      </div>
    </div>
  </div>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false"
          aria-controls="collapseExample2">
    <h3 class="text-center my-2">TRAYECTO DIFERENCIADO (Ex equivalencias): <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample2">
    <div class=" row m-5">
      <h3 class="text-center my-2">Condiciones de Examen:</h3>
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>1) Anotar la fecha del examen que se encuentra en cartelera.</strong></p>
        <p class="color-alerta"><strong>2) Presentarse en la fecha indicada a horario, con DNI, delantal de taller,
          pantalones largos y calzado adecuado (zapatos ó zapatillas).
        </strong></p>
        <p class="color-alerta"><strong>3) Leer detalladamente la orientación:</strong></p>
        <div class="flex-column text-center">
          <a href="assets/mesa-examen/ORIENTACION.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center color-alerta">Orientación 1ro , 2do, 3ro</p>
        </div>
        <p class="color-alerta"><strong>4) Deberá presentar a la mesa examinadora lo siguiente para cada materia:</strong></p>

      </div>


      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>LENGUAJE TECNOLOGICO:</strong></p>
        <p class="color-alerta"><strong>Carpeta de láminas COMPLETA, Cuaderno de caligrafía COMPLETO, y a partir de alli
          se tomará un examen práctico de lenguaje tecnológico.</strong></p>
        <p class="color-alerta"><strong>Traer materiales de dibujo (hoja A4, regla, compás, goma, escuadras, lápiz HB y
          2H, transportador, etc)</strong></p>
        <p class="color-alerta">Para 1er año : Polígonos (utilizando el método del ángulo central).</p>
        <p class="color-alerta">Para 2do año: Algún objeto en Perspectiva isométrica.</p>
        <p class="color-alerta">Para 3er año: Perspectiva y vistas fundamentales (Frontal, Lateral izquierda y
          superior).</p>
      </div>


      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>PROCEDIMIENTOS TECNICOS:</strong></p>
        <p class="color-alerta"><strong>Todos los trabajos realizados durante el año terminados. Luego se tomará un
          examen práctico de:</strong></p>
        <p class="color-alerta">Para 1er año : Carpínteria y herramientas manuales</p>
        <p class="color-alerta">Para 2do año: Ajuste y soldadura eléctrica.</p>
        <p class="color-alerta">Para 3er año: Ajuste, soldadura eléctrica y tornería.</p>
      </div>

      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>SISTEMAS TECNOLOGICOS:</strong></p>
        <p class="color-alerta"><strong>Todos los trabajos realizados durante el año terminados. Luego se tomará un
          examen práctico de:</strong></p>
        <p class="color-alerta">Para 1er año : Carpínteria, herramientas manuales y electricidad del velador</p>
        <p class="color-alerta">Para 2do año: Circuitos eléctricos (con esquema de cableado y montaje), empalmes.</p>
        <p class="color-alerta">Para 3er año: Circuitos eléctricos (con esquema de cableado y montaje), robótica.</p>
      </div>

      <div class="alert fondo-alerta-w" role="alert">
        <p class="color-alerta-w"><strong>En todos los exámenes prácticos se evaluará: pedidos al pañol, seguridad e
          higiene en el trabajo, procedimientos utilizados y trabajo obtenido.</strong></p>
        <p class="color-alerta-w">Recordar que: Todo estudiante que rinde examen regular ó previo, debe presentar lo
          mismo que ha realizado cualquier otro estudiante regular durante el año.</p>
      </div>
    </div>
  </div>
</div>
