<div class="card m-5 redondear texto fondo">
  <div class="card-body ">
    <h1 class="text-center ">Mesas de examen</h1>
    <h2 class="text-center"></h2>
  </div>
</div>
<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample">
    <h3 class="text-center my-2">REGULAR Y PREVIOS: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample">
    <div class=" row m-5">
      <h3 class="text-center mb-5">Condiciones de Examen:</h3>
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>1) Anotar la fecha y horario del examen.</strong></p>
        <p class="color-alerta"><strong>2) Presentarse en la fecha indicada a horario puntual.
        </strong></p>
        <p class="color-alerta"><strong>3) Concurrir con DNI, Cuaderno de comunicados y vestimenta adecuada para taller que cumplimente las medidas de seguridad e higiene.
      </strong></p>
        <p class="color-alerta"><strong>4) Todo el examen será manuscrito (a mano) en hoja de carpeta y en birome azul o negra.
          -	Las láminas en hoja formato A4 liso y blanca.
        </strong></p>
        <p class="color-alerta"><strong>5) Todas las hojas con apellidos y nombres completos (cómo figura en el D.N.I.), numeradas, firmadas, con DNI, año que rinde y en qué curso está actualmente, todo en letra imprenta legible y sin faltas de ortografía.
        </strong></p>
        <p class="color-alerta"><strong>6) Para poder acreditar el examen de taller deberá aprobar totalmente las tres areas de taller (Lenguaje, Procedimientos y Sistemas) sin excepción.
        </strong></p>
        <p class="color-alerta"><strong>7) Si fuera necesario se pedirán de manera individual: las láminas, cuaderno de caligrafía, trabajos en madera y/o metal, etc.</strong></p>

        <p class="color-alerta"><strong>8) Leer detalladamente la orientación:</strong></p>
        <div class="flex-column text-center">
          <a href="assets/mesa-examen/ORIENTACION.pdf" target="blank">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
          <p class="mt-3 text-center color-alerta">Orientación 1ro , 2do, 3ro</p>

        </div>

      </div>



      <div class="alert fondo-alerta-w" role="alert">
        <p class="color-alerta-w"><strong>En todos los exámenes prácticos se evaluará: pedidos al pañol, seguridad e
          higiene en el trabajo, procedimientos utilizados y trabajo obtenido.</strong></p>
        <p class="color-alerta-w">Recordar que: Todo estudiante que rinde examen regular ó previo, debe presentar lo
          mismo que ha realizado cualquier otro estudiante regular durante el año.</p>
      </div>
    </div>
  </div>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
          aria-expanded="false"
          aria-controls="collapseExample2">
    <h3 class="text-center my-2">TRAYECTO DIFERENCIADO: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample2">
    <div class=" row m-5">
      <h3 class="text-center mb-5">Condiciones:</h3>
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>Este trayecto diferenciado es solamente para los estudiantes nuevos que ingresan a la EEST N5 y es obligatorio para ellos.</strong></p>
        <br>
        <p class="color-alerta"><strong>Cada estudiante debera realizar la guía de consignas que corresponda al trayecto que adeuda</strong></p>
        <p class="color-alerta"><strong>Condiciones de entrega:</strong></p>
        <p class="color-alerta">-Poseer una caratula con todos los datos del estudiante</p>
        <p class="color-alerta">-Cada hoja numerada y con apellido, nombre y DNI</p>
        <p class="color-alerta">-El trabajo debe ser totalmente prolijo y legible</p>
        <p class="color-alerta">-El trabajo debe estar 100% completo para la presentación y en folio</p>
        <br>
        <br>

        <p class="color-alerta"><strong>Se acordarán 4 únicos encuentros en el año de 4 horas cada uno en turno mañana o
          tarde (a confirmar).</strong></p>
        <br>
        <p class="color-alerta"><strong>Cada encuentro en taller, se trabajará con lo siguiente:</strong></p>
        <p class="color-alerta">Encuentro 1: Lenguaje tecnológico (recuadro, rótulo, caligrafía, perspectiva isométrica
          y vistas).</p>
        <p class="color-alerta">Encuentro 2: Seguridad e higiene, Herramientas manuales básicas, carpintería.</p>
        <p class="color-alerta">Encuentro 3: Trabajo con metal y soldadura eléctrica.</p>

        <p class="color-alerta">Encuentro 4: Empalmes, Circuitos eléctricos, y armado de circuitos en tablero.</p>
      </div>
      <div class="card card-body fondo m-5">
        <h3 class="text-center my-2">Módulos Trayecto diferenciado:</h3>
        <div class=" row m-5">
          <div
            class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
            <div class="flex-column text-center">
              <a target="_blank"
                 href="assets/mesa-examen/trayecto-diferenciado/manana-tarde/Trayecto-1ro.pdf">
                <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
              </a>
              <p class="mt-3 text-center">Trayecto diferenciado 1ro</p>
            </div>
          </div>
          <div
            class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
            <div class="flex-column text-center">
              <a target="_blank"
                 href="assets/mesa-examen/trayecto-diferenciado/manana-tarde/Trayecto-2do.pdf">
                <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
              </a>
              <p class="mt-3 text-center">Trayecto diferenciado 2do</p>
            </div>
          </div>
          <div
            class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
            <div class="flex-column text-center">
              <a target="_blank"
                 href="assets/mesa-examen/trayecto-diferenciado/manana-tarde/Trayecto-3ro.pdf">
                <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
              </a>
              <p class="mt-3 text-center">Trayecto diferenciado 3ro</p>
            </div>
          </div>
        </div>
      </div>

      <div class="alert fondo-alerta-w" role="alert">
        <p class="color-alerta-w"><strong>El estudiante deberá presentar la totalidad del trabajo en el antes del ultimo encuentro para ser evaluado..
        </strong></p>
        <p class="color-alerta-w"><strong>En cada encuentro el estudiante es evaluado, por lo tanto la asistencia es
          obligatoria como los trabajos teóricos.
        </strong></p>
        <p class="color-alerta-w">Finalizado el cuarto encuentro, se obtendrá la calificación final del proceso.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4"
          aria-expanded="false"
          aria-controls="collapseExample2">
    <h3 class="text-center my-2">GUÍA ANUAL DE ACTIVIDADES DE TCB: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample4">
    <div class=" row m-5">
      <h3 class="text-center mb-5">Condiciones:</h3>
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>Esta guía es solamente para los estudiantes nuevos que ingresan a la EEST N5 y es obligatorio para ellos.</strong></p>
        <br>
        <p class="color-alerta"><strong>Cada estudiante debera realizar la guía de consignas que corresponda al año que adeuda</strong></p>
        <p class="color-alerta"><strong>Condiciones de entrega:</strong></p>
        <p class="color-alerta">-Poseer una caratula con todos los datos del estudiante</p>
        <p class="color-alerta">-Cada hoja numerada y con apellido, nombre y DNI</p>
        <p class="color-alerta">-El trabajo debe ser totalmente prolijo y legible</p>
        <p class="color-alerta">-El trabajo debe estar 100% completo para la presentación y en folio</p>
      </div>
      <div class="card card-body fondo m-5">
        <h3 class="text-center my-2">Módulos:</h3>
        <div class=" row m-5">
          <div
            class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
            <div class="flex-column text-center">
              <a target="_blank"
                 href="assets/mesa-examen/trayecto-diferenciado/vespertino/Trayecto-1ro.pdf">
                <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
              </a>
              <p class="mt-3 text-center">Actividades 1ro</p>
            </div>
          </div>
          <div
            class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
            <div class="flex-column text-center">
              <a target="_blank"
                 href="assets/mesa-examen/trayecto-diferenciado/vespertino/Trayecto-2do.pdf">
                <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
              </a>
              <p class="mt-3 text-center">Actividades 2do</p>
            </div>
          </div>
          <div
            class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
            <div class="flex-column text-center">
              <a target="_blank"
                 href="assets/mesa-examen/trayecto-diferenciado/vespertino/Trayecto-3ro.pdf">
                <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
              </a>
              <p class="mt-3 text-center">Actividades 3ro</p>
            </div>
          </div>
        </div>
      </div>

      <div class="alert fondo-alerta-w" role="alert">
        <p class="color-alerta-w"><strong>El estudiante deberá presentar la totalidad del trabajo en Jefatura de taller para ser evaluado, luego de la corrección se obtendrá la calificación final del proceso.
        </strong></p>
      </div>
    </div>
  </div>
</div>


<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
          aria-expanded="false"
          aria-controls="collapseExample3">
    <h3 class="text-center my-2">Láminas perdidas: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample3">
    <div class=" row m-5">
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>Para el estudiante que perdió la carpeta de láminas y no tiene ninguna de ellas
          para el examen previo o regular, descargue el archivo del año que debe realizar.</strong></p>
        <p class="color-alerta"><strong>Luego cada lámina debe hacerla en formato A4 para presentarlas en la mesa de
          examen regulares ó previos. </strong></p>
        <br>
        <p class="color-alerta">Como realizar un recuadro y rótulo A4:</p>
        <div class="flex-column text-center">
          <a target="_blank" href="assets/mesa-examen/recuadro-rotulo.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
        </div>
        <p class="color-alerta">Laminas de 1er Año:</p>
        <div class="flex-column text-center">
          <a target="_blank" href="assets/mesa-examen/laminas-1ro.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
        </div>
        <p class="color-alerta">Laminas para 2do y 3ro:</p>
        <div class="flex-column text-center">
          <a target="_blank" href="assets/mesa-examen/laminas-2do-3ro.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<app-agradecimientos></app-agradecimientos>
