<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
          aria-controls="collapseExample">
    <h3 class="text-center my-2">REGULAR Y PREVIOS: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample">
    <div class=" row m-5">
      <h3 class="text-center mb-5">Condiciones de Examen:</h3>
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>1) Anotar la fecha del examen que se encuentra en cartelera.</strong></p>
        <p class="color-alerta"><strong>2) Presentarse en la fecha indicada a horario, con DNI, delantal de taller,
          pantalones largos y calzado adecuado (zapatos ó zapatillas).
        </strong></p>
        <p class="color-alerta"><strong>3) Leer detalladamente la orientación:</strong></p>
        <div class="flex-column text-center">
          <a href="assets/mesa-examen/ORIENTACION.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center color-alerta">Orientación 1ro , 2do, 3ro</p>
        </div>
        <p class="color-alerta"><strong>4) Deberá presentar a la mesa examinadora lo siguiente para cada materia:</strong></p>

      </div>


      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>LENGUAJE TECNOLOGICO:</strong></p>
        <p class="color-alerta"><strong>Carpeta de láminas COMPLETA, Cuaderno de caligrafía COMPLETO, y a partir de alli
          se tomará un examen práctico de lenguaje tecnológico.</strong></p>
        <p class="color-alerta"><strong>Traer materiales de dibujo (hoja A4, regla, compás, goma, escuadras, lápiz HB y
          2H, transportador, etc)</strong></p>
        <p class="color-alerta">Para 1er año : Polígonos (utilizando el método del ángulo central).</p>
        <p class="color-alerta">Para 2do año: Algún objeto en Perspectiva isométrica.</p>
        <p class="color-alerta">Para 3er año: Perspectiva y vistas fundamentales (Frontal, Lateral izquierda y
          superior).</p>
      </div>


      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>PROCEDIMIENTOS TECNICOS:</strong></p>
        <p class="color-alerta"><strong>Todos los trabajos realizados durante el año terminados. Luego se tomará un
          examen práctico de:</strong></p>
        <p class="color-alerta">Para 1er año : Carpínteria y herramientas manuales</p>
        <p class="color-alerta">Para 2do año: Ajuste y soldadura eléctrica.</p>
        <p class="color-alerta">Para 3er año: Ajuste, soldadura eléctrica y tornería.</p>
      </div>

      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>SISTEMAS TECNOLOGICOS:</strong></p>
        <p class="color-alerta"><strong>Todos los trabajos realizados durante el año terminados. Luego se tomará un
          examen práctico de:</strong></p>
        <p class="color-alerta">Para 1er año : Carpínteria, herramientas manuales y electricidad del velador</p>
        <p class="color-alerta">Para 2do año: Circuitos eléctricos (con esquema de cableado y montaje), empalmes.</p>
        <p class="color-alerta">Para 3er año: Circuitos eléctricos (con esquema de cableado y montaje), robótica.</p>
      </div>

      <div class="alert fondo-alerta-w" role="alert">
        <p class="color-alerta-w"><strong>En todos los exámenes prácticos se evaluará: pedidos al pañol, seguridad e
          higiene en el trabajo, procedimientos utilizados y trabajo obtenido.</strong></p>
        <p class="color-alerta-w">Recordar que: Todo estudiante que rinde examen regular ó previo, debe presentar lo
          mismo que ha realizado cualquier otro estudiante regular durante el año.</p>
      </div>
    </div>
  </div>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false"
          aria-controls="collapseExample2">
    <h3 class="text-center my-2">TRAYECTO DIFERENCIADO (Ex equivalencias): <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample2">
    <div class=" row m-5">
      <h3 class="text-center mb-5">Condiciones:</h3>
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>Este trayecto diferenciado es solamente para los estudiantes nuevos que ingresan a la EEST 5 y es obligatorio para ellos.</strong></p>
        <p class="color-alerta"><strong>Se acordarán 4 únicos encuentros en el año de 4 horas cada uno en turno mañana o tarde (a confirmar).</strong></p>
       <br>
        <p class="color-alerta"><strong>Cada encuentro en taller, se trabajará con lo siguiente:</strong></p>
        <p class="color-alerta">Encuentro 1: Seguridad e higiene, Herramientas manuales básicas, carpintería.</p>
        <p class="color-alerta">Encuentro 2: Trabajo con metal y soldadura eléctrica.</p>
        <p class="color-alerta">Encuentro 3: Lenguaje tecnológico (recuadro, rótulo, caligrafía, perspectiva isométrica y vistas).</p>
        <p class="color-alerta">Encuentro 4: Empalmes, Circuitos eléctricos, y armado de circuitos en tablero.</p>

      </div>
      <div class="alert fondo-alerta-w" role="alert">
        <p class="color-alerta-w"><strong>En cada encuentro el estudiante es evaluado, por lo tanto la asistencia es obligatoria.
        </strong></p>
        <p class="color-alerta-w">Finalizado el cuarto encuentro, se obtendrá la calificación final del proceso.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false"
          aria-controls="collapseExample3">
    <h3 class="text-center my-2">Láminas perdidas: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample3">
    <div class=" row m-5">
      <div class="alert fondo-alerta" role="alert">
        <p class="color-alerta"><strong>Para el estudiante que perdió la carpeta de láminas y no tiene ninguna de ellas para el examen previo o regular, descargue el archivo del año que debe realizar.</strong></p>
        <p class="color-alerta"><strong>Luego cada lámina debe hacerla en formato A4 para presentarlas en la mesa de examen regulares ó previos. </strong></p>
        <br>
        <p class="color-alerta">Como realizar un recuadro y rótulo A4:</p>
        <div class="flex-column text-center">
          <a target="_blank" href="assets/mesa-examen/recuadro-rotulo.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
        </div>
        <p class="color-alerta">Laminas de 1er Año:</p>
        <div class="flex-column text-center">
          <a target="_blank" href="assets/mesa-examen/laminas-1ro.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
        </div>
        <p class="color-alerta">Laminas para 2do y 3ro:</p>
        <div class="flex-column text-center">
          <a target="_blank" href="assets/mesa-examen/laminas-2do-3ro.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<app-agradecimientos></app-agradecimientos>
