<footer class="footer-clean ">
  <div>
    <div class="container-column d-flex justify-content-around">
      <div class="individual-column">
        <h3>Escuela</h3>
        <ul>
          <li><a href="#">Acerca de IUmach</a></li>
          <li><a href="#">Empleo</a></li>
          <li><a href="#">Ubicación</a></li>
        </ul>
      </div>
      <div class="individual-column">
        <h3>Desarrolladores</h3>
        <ul>
          <li><a href="#">Iván Augusto Mollari</a></li>
          <li><a href="#">Marcelo Andres Zelaya</a></li>
          <li><a href="#">Sebastián Trillo Da Silva</a></li>
          <li><a href="#">Gonzalo Elias Fernandez</a></li>
        </ul>
      </div>
    </div>
    <ul class="social_footer_ul">
      <li><a target="_blank " href="https://es-la.facebook.com/ "><i class="fab fa-facebook-f "></i></a></li>
      <li><a target="_blank " href="https://www.instagram.com/?hl=es-la "><i class="fab fa-instagram "></i></a></li>
    </ul>
    <p class="copyright">Tecnica 5 Ciclo Basico © 2022</p>
  </div>

</footer>
