<footer class="footer-clean">
  <div>
    <div class="container-column d-flex justify-content-around">
      <div class="individual-column">
        <h3>EEST N° 5 "Roberto Nobles"</h3>
        <ul>
          <li><a target="_blank" class="d-flex justify-content-start" href="https://escuelatn5.wixsite.com/tec5" ><i class="fa-solid fa-school me-2"></i> <p>Acerca de EEST N° 5 "Roberto Noble"</p></a></li>
          <li><a target="_blank" class="d-flex justify-content-start" href="https://www.google.com.ar/maps/place/Peribebuy+2751,+San+Justo,+Provincia+de+Buenos+Aires/@-34.6892468,-58.5501416,19z/data=!3m1!4b1!4m5!3m4!1s0x95bcc8a16b80bce1:0x89017651de539427!8m2!3d-34.6892468!4d-58.5501416"><i class="fa-solid fa-location-dot me-2"></i> <p>Ubicación</p></a></li>
        </ul>
      </div>
      <div class="individual-column">
        <h3><i class="fa-solid fa-laptop-code me-2"></i>Desarrollador</h3>
        <ul>
          <li><a href="#"><p>Zelaya Marcelo Andrés</p></a></li>
        </ul>
      </div>
    </div>
    <ul class="social_footer_ul">
      <li><a target="_blank " href="https://es-la.facebook.com/ "><i class="fab fa-facebook-f "></i></a></li>
      <li><a target="_blank " href="https://www.instagram.com/?hl=es-la "><i class="fab fa-instagram "></i></a></li>
    </ul>
    <p class="copyright">Escuela de Educación Secundaria Técnica 5 | Ciclo Básico ©2022</p>
    <p class="copyright">San Justo - La Matanza | Provincia de Buenos Aires</p>
  </div>

</footer>
