<footer class="footer-clean">
  <div>
    <div class="container-column d-flex justify-content-around">
      <div class="individual-column">
        <h3>EEST N° 5 "Roberto Noble"</h3>
        <ul>
          <li><a target="_blank" href="https://escuelatn5.wixsite.com/tec5">Acerca de EEST N° 5 "Roberto Noble"</a></li>
          <li><a target="_blank" href="https://www.google.com/maps/place/Escuela+de+Educaci%C3%B3n+Secundaria+T%C3%A9cnica+N%C2%B05/@-34.6895779,-58.5518762,17z/data=!4m5!3m4!1s0x95bcc8a144863b49:0x2757e43b94046c6d!8m2!3d-34.689572!4d-58.5496954">Ubicación</a></li>
        </ul>
      </div>
      <div class="individual-column">
        <h3>Desarrollador</h3>
        <ul>
          <li><a href="#">Zelaya Marcelo Andrés</a></li>
        </ul>
      </div>
    </div>
    <ul class="social_footer_ul">
      <li><a target="_blank " href="https://es-la.facebook.com/ "><i class="fab fa-facebook-f "></i></a></li>
      <li><a target="_blank " href="https://www.instagram.com/?hl=es-la "><i class="fab fa-instagram "></i></a></li>
    </ul>
    <p class="copyright">Escuela de Educación Secundaria Técnica 5 | Ciclo Básico ©2022</p>
    <p class="copyright">San Justo - La Matanza | Provincia de Buenos Aires</p>
  </div>

</footer>
