.redondear {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.rounded-top{
  border-radius: 20px !important;
}

.opcion-menu:hover{
  background: var(--color3);
  color: black !important;
}

.opcion-menu{
  padding-bottom: 14px !important;
  padding-top: 14px !important;
  color: var(--color1) !important;
}

.logo{
  border-right:2px solid var(--color3);
  padding-right: 10px !important;
}


@media only screen and (max-width: 991px) {
  .logo{
    border: none;
    padding-right: 10px !important;
  }
}

.bg{
  background-color: var(--fondo);
}
.pad{
  padding: 0 !important;
}

.pointer {
  cursor: pointer;
}
