<header>
  <nav class="navbar navbar-expand-lg navbar-light bg pb-0 pt-0">
    <div class="container-fluid">

      <a class="navbar-brand logo d-flex align-items-center" [routerLink]="['/','home']">
        <img src="assets/img/d7204d_163f655001c14b4caa63e69fe4b17137_mv2.webp" height="48" class="align-text-center m-1" alt="">
        <p class="m-1">EEST N°5 - Ciclo Básico</p>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav texto">
          <a [routerLink]="['/','home']" class="nav-item nav-link active rounded-top opcion-menu texto">Home</a>
          <a [routerLink]="['/','planificaciones']" class="nav-item nav-link active rounded-top opcion-menu texto">Planificaciones</a>
          <a [routerLink]="['/','modulos']" class="nav-item nav-link active rounded-top opcion-menu texto">Módulos</a>
          <a [routerLink]="['/','planos']" class="nav-item nav-link active rounded-top opcion-menu texto">Planos</a>
          <a [routerLink]="['/','logos']" class="nav-item nav-link active rounded-top opcion-menu texto">Logros</a>
        </div>
      </div>
    </div>
  </nav>
</header>


