<header>
  <nav class="navbar navbar-expand-lg navbar-light bg pb-0 pt-0">
    <div class="container-fluid">

      <a class="navbar-brand logo d-flex align-items-center" [routerLink]="['/','home']">
        <img src="../../../assets/img/icono-t5.jpg" height="48" class="align-text-center m-1" alt="">
        <p class="m-1">EEST N°5</p>
      </a>
      <div class="d-flex align-items-center logo">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class=""><i class="fa-solid fa-bars fa-2x texto "></i></span>
        </button>
        <div>
          <i *ngIf="!dia" (click)="cargarTemaDia()" class="p-3  fa-solid fa-sun fa-2x texto pointer"></i>
        </div>
        <div>
          <i *ngIf="dia" (click)="cargarTemaOscuro()" class="p-3  fa-solid fa-moon fa-2x texto pointer "></i>
        </div>

      </div>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav texto text-center">
          <a [routerLink]="['/','home']" class="nav-item nav-link active rounded-top opcion-menu texto mx-1">Home</a>
          <li class="nav-item dropdown opcion-menu texto rounded-top">
            <a class="pad nav-link dropdown-toggle  opcion-menu texto mx-1" href="#" id="navbarDropdown1" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Taller Ciclo Básico
            </a>
            <ul class="dropdown-menu bg" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','basico','presentacion']">Presentación</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','basico','modulos']">Módulos</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','basico','planos']">Planos</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','basico','continuidad-pedagogica']">Continuidad pedagógica</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','basico','examen']">Mesa de
                  examen</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','basico','planificaciones']">Planificaciones</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown opcion-menu texto rounded-top">
            <a class="pad nav-link dropdown-toggle  opcion-menu texto mx-1" href="#" id="navbarDropdown1" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Electromecánica
            </a>
            <ul class="dropdown-menu bg" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','electro','presentacion']">Presentación</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','electro','modulos']">Módulos</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','electro','planos']">Planos</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','electro','continuidad-pedagogica']">Continuidad pedagógica</a>
              </li>
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','electro','examen']">Mesa de examen</a>
              </li>
            </ul>
          </li>



          <a [routerLink]="['/','material-apoyo']"
            class="nav-item nav-link active rounded-top opcion-menu texto mx-1">Material de apoyo</a>





          <li class="nav-item dropdown opcion-menu texto rounded-top">
            <a class="pad nav-link dropdown-toggle  opcion-menu texto mx-1" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Logros
            </a>
            <ul class="dropdown-menu bg" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1"
                  [routerLink]="['/','logros','2022']">2022</a></li>

            </ul>
          </li>

        </div>
      </div>
    </div>


  </nav>
</header>