<header>
  <nav class="navbar navbar-expand-lg navbar-light bg pb-0 pt-0">
    <div class="container-fluid">

      <a class="navbar-brand logo d-flex align-items-center" [routerLink]="['/','home']">
        <img src="assets/img/d7204d_163f655001c14b4caa63e69fe4b17137_mv2.webp" height="48" class="align-text-center m-1" alt="">
        <p class="m-1">EEST N°5 - Ciclo Básico</p>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav texto text-center">
          <a [routerLink]="['/','home']" class="nav-item nav-link active rounded-top opcion-menu texto mx-1">Home</a>
          <a [routerLink]="['/','planificaciones']" class="nav-item nav-link active rounded-top opcion-menu texto mx-1">Planificaciones</a>
          <a [routerLink]="['/','modulos']" class="nav-item nav-link active rounded-top opcion-menu texto mx-1">Módulos</a>
          <a [routerLink]="['/','planos']" class="nav-item nav-link active rounded-top opcion-menu texto mx-1">Planos</a>
          <a [routerLink]="['/','examen']" class="nav-item nav-link active rounded-top opcion-menu texto mx-1">Mesa de examen</a>
          <li class="nav-item dropdown opcion-menu texto rounded-top">
            <a class="pad nav-link dropdown-toggle  opcion-menu texto mx-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Logros
            </a>
            <ul class="dropdown-menu bg" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item rounded-top opcion-menu texto mx-1" [routerLink]="['/','logros','2022']">2022</a></li>

            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>
</header>


