<div class="alert fondo-alerta m-5" role="alert">
  <h2 class="text-center color-alerta">Planificaciones Docentes de Taller:</h2>
  <p class="color-alerta"><strong>IMPORTANTE: Cada docente entrega sus planificaciones en la secretaría de la escuela, incompatibilidad
    horaria en secretaría y Continuidad pedagógica en preceptoría de taller.</strong></p>
  <p class="color-alerta">Aquí encontrará planificaciones bases, agregue lo que crea conveniente en la suya.</p>
  <p class="color-alerta">Las planificaciones fueron realizadas en común acuerdo por los docentes de cada materia, en reunión de
    departamento.
  </p>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <h3 class="text-center my-2">Planificaciones de 1er Año: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample">
    <div class=" row m-5">

      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/primero/Planificacion%20PT%201.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center">Planificación PT 1ro</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/primero/Planificacion%20ST%201.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center">Planificación ST 1ro</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/primero/Planificacion%20LT%201.docx">
            <i class="fa-solid fa-file-word fa-8x word"></i>
          </a>
          <p class="mt-3 text-center">Planificación LT 1ro</p>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
    <h3 class="text-center my-2">Planificaciones de 2do Año: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample2">
    <div class=" row m-5">

      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/segundo/Planificacion%20PT%202.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center">Planificación PT 2do</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/segundo/Planificacion%20ST%202.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center">Planificación ST 2do</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/segundo/Planificacion%20LT%202.docx">
            <i class="fa-solid fa-file-word fa-8x word"></i>
          </a>
          <p class="mt-3 text-center">Planificación LT 2do</p>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="card card-body fondo m-5">
  <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
    <h3 class="text-center my-2">Planificaciones de 3er Año: <i class="fa-solid fa-angle-down"></i></h3>
  </button>
  <div class="collapse" id="collapseExample3">
    <div class=" row m-5">

      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/tercero/Planificacion%20PT%203.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center">Planificación PT 3ro</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/tercero/Planificacion%20ST%203.docx">
            <i class="fa-solid fa-file-word fa-8x word text-center"></i>
          </a>
          <p class="mt-3 text-center">Planificación ST 3ro</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a href="assets/planificaciones/tercero/Planificacion%20LT%203.docx">
            <i class="fa-solid fa-file-word fa-8x word"></i>
          </a>
          <p class="mt-3 text-center">Planificación LT 3ro</p>
        </div>
      </div>


    </div>
  </div>
</div>







