<div class="card m-5 redondear texto fondo">
  <div class="card-body ">
    <h1 class="text-center ">Continuidad Pedagógica - Taller Ciclo Básico</h1>
    <h2 class="text-center"></h2>
  </div>
</div>

<div class=" row m-1">
  <h3 class=" mb-2">Leer detalladamente:</h3>
  <div class="alert fondo-alerta" role="alert">
    <p class="color-alerta">1) En continuidad pedagógica de cada año estan las actividades para las materias de Sistemas, Procedimientos y Lenguaje técnico.</p>
    <p class="color-alerta">2) Para resolver las actividades deberá utilizar los módulós de cada materia disponibles en esta WEB, investigación y explicaciones previas del docente.</p>
    <p class="color-alerta">3) Cada actividad deberá poseer una caratula.</p>
    <p class="color-alerta">4) Cada actividad deberá ser desarrollada prolijamente de forma manuscrita.</p>
    <p class="color-alerta">5) Cada actividad debe estar completa en su totalidad.</p>
    <p class="color-alerta">6) La actividad desarrollada debe ser entregada al docente para su corrección.</p>
  </div>
</div>

<div class="card card-body fondo m-5">

    <div class=" row m-5">
      <div class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a target="_blank" href="assets/ciclo-basico/continuidad-pedagogica/continuidad%20pedagogica%201%20er%20año.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
          <p class="mt-3 text-center">Continuidad Pedagógica 1ro</p>
        </div>



      </div>
      <div class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a target="_blank" href="assets/ciclo-basico/continuidad-pedagogica/continuidad%20pedagogica%202%20do%20año.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
          <p class="mt-3 text-center">Continuidad Pedagógica 2do</p>
        </div>
      </div>
      <div class="d-flex justify-content-center col-12 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 my-5">
        <div class="flex-column text-center">
          <a target="_blank" href="assets/ciclo-basico/continuidad-pedagogica/continuidad%20pedagogica%203%20er%20año.pdf">
            <i class="fa-solid fa-file-pdf fa-8x pdf text-center"></i>
          </a>
          <p class="mt-3 text-center">Continuidad Pedagógica 3ro</p>
        </div>
      </div>


    </div>
  </div>


<app-agradecimientos></app-agradecimientos>
