<div class="alert fondo-alerta m-5" role="alert">
  <h2 class="text-center color-alerta">Agradecimientos</h2>
  <p class="color-alerta"><strong>Gracias !!! A todos los docentes que colaboraron para poder desarrollar el contenido.</strong></p>
  <p class="color-alerta"><strong>Los módulos y planos fueron realizados y/o compaginados por los docentes de cada asignatura utilizando material propio, de terceros y de internet.
  </strong></p>
  <p class="color-alerta">Hay planos y módulos que se encuentran en preparación. Si tiene algún documento nuevo para incorporar a éste
    listado, envíelo al Jefe de departamento / Jefe de Area por Whatsapp o Mail.</p>
</div>
